body {  
	background-image: url('images/sandiamountains.png'); /*Photo by Paul Thompson*/
	background-attachment: fixed;  
	background-size: cover;
	background-color: #31465E;
	background-repeat: no-repeat;
	background-position: right;
	font-family: Arial;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
	opacity: 1;    
}

.link {
	color: #498fd1;
}

.link:hover {
	color: deepskyblue;
}

.transparentBG {
	background-color: rgba(0, 25, 100, 0.5);
	/*
    position: absolute;
    background-size: cover;
	background-attachment: fixed;
	background-size: cover;
	margin-left: 0px;
	min-height: 100vh;
    box-sizing: border-box;
    opacity: 0.1;*/
}


.content {
	background-color: rgba(0, 7, 30, .6);
	color: #FFFFFF;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    font-family: Arial;
    line-height: 1.5;
    min-height: 100vh;
    overflow: hidden;
 }

.buttonFormatting {
    text-align: left;
    margin-left: 25px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 2.5;
}

.header {
    background-color: #A80D02;
    color: #fff;
    text-align: center;
    padding: 0.75rem 0rem 0.05rem;
    padding-top: 10;
    bottom: 0
}

.navbar .navbar-nav .nav-link {
	text-align: left;
	line-height: 1;
    font-size: 1.1em;
    /*font-family: Segoe UI;*/
    font-family: Arial;
    padding: 0.5em 0.8em;
    transition: all 0.7s;
}

.navbar-toggler {
  border: none;
  float: left;
}

.navbar .navbar-nav .nav-link:hover {
  background-color: #FFFFFF;
  color: #000000;
}


@media only screen and (min-width: 992px) {

  .navbar {
    padding: 0;
  }
  
  .navbar .navbar-nav .nav-link {
    padding: 1em 0.7em;
  }
 
  .navbar .navbar-brand {
    padding: 0 0.8em;
  }
  
}

.btn-success {
    background-color: #43A047 !important;
    margin-left: 10px !important;
    border-color: #48b04d;
    transition: all 0.5s;
}

.btn-success:hover {
    background-color: #4CAF50 !important;
    border-color: #429645;
}

.btn-danger {
    background-color: #cc0000 !important;
    transition: all 0.5s;
}

.btn-danger:hover {
    background-color: #ee0000 !important;
}

.btn-primary {
    background-color: #325A80 !important;
    transition: all 0.5s;
    border-color: #34618c;
}

.btn-primary:hover {
    background-color: #3a6894 !important;
    border-color: #2e577d;
}
.video-margin {
	margin-left: 40px;
	margin-right: 40px;"
}


h1 {
    font-family: 'Arial';
    font-size: 48px;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
}

button, input[type="submit"] {
    color: #FFFFFF;
    background-color: #0082b5;
    border: 3px solid transparent;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    vertical-align: middle;
}
